*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #255ee9;
    padding: 10px 0px;
}

.container{
    max-width: 1200px;
    margin: 30px auto;
    
}

.container-sm{
    max-width: 800px;
    margin: 30px auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.height-sm{
    height: 40px;
}

.height-l{
    height: 400px;
}

.height-xl{
    height: 500px;
}

.py-20{
    padding: 20px 0px;
}

.py-50{
    padding-top: 30px;
}
.py-10{
    padding: 10px 0px;
}

.text-rt{
    text-align: right;
}

.text-lt{
    text-align: left;
}

.unstyle-list{
    list-style-type: none;

}

.unstyle-list li{
  display: inline-block;
  padding: 0px 15px;
}

.unstyle-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  

.col-17{
    width: calc( 100% / 6);
    border: 1px dashed black;

}

.col-34{
    width: calc( 100% / 6 * 2);
    border: 1px dashed black;

}


.col-25{
    width: 25%;
    
}


.col-40{
    width: 40%;
   

}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
    

}

.col-100{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

 /* colori */

 .bg-orange{
    background-color: orange;
 }

.bg-blue{
    background-color: blue;
}

.bg-trasparent{
    background-color: transparent;
}

.bg-pink{
    background-color: pink;
}

.bg-grey{
    background-color: lightgrey;
}
.bg-darkgrey{
    background-color: #302828;
}

.bg-green{
    background-color: green;
}

.bg-darkgrey{
    background-color: darkgrey;
}

.bg-verdeacqua{
    background-color: lightseagreen;
}

.bg-darkpink{
    background-color: #d62166;
}

.bg-black{
    background-color: black;
}

.space-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.align-items-center{
    align-items: center;
}

footer{
    background-color: #302828;
    height: 680px;
}

.footer-bottom{
    border-top: 10px solid white;
}

/* classe utility */

.btn{
    padding: 8px 20px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    background-color: black;

}

.btn-white{
    background-color: white;
}

.bg-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

h2{
    font-size: 30px;
}

/* .testo-intro {
    text-align: center;
    color: white;
    margin-top: 50px;
    line-height: 1.5;
} */

.white{
    color: white;
}

.btn-dowload {
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
    
    
    
}

.btn-discord-browser {
    background-color: black;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
    margin-left: 100px;
    color: white;
    

    
    
    
}

.bt-position{
   align-content: center;
   

}

.centratura-btn{
    display: flex;
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.primo-testo{
    font-size: 20px;
    
}

.py50{
    padding: 50px;
}

.font-size-p{
    font-size: 16px;
    font-weight: bolder;
}

.line-height{
    line-height: 1.5;
}

.padding-p{
    padding-top: 40px;
   
}

.padding-lr{
    padding-left: 60px;
    padding-right: 60px;
}

.padding-text-big{
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
}

.bg-img-big{
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-dowload{
    background-color: #8ea1e1;
    color: beige;
    border: none;
}